BODY
{
    BACKGROUND-COLOR: #dddddd;
    COLOR: #000000;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 12px;
    MARGIN: 0px
}
TD
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 12px
}
A:link
{
    COLOR: #465ec9
}
A:visited
{
    COLOR: #242f6d
}
A:hover
{  
    COLOR: #850000
}
.treeTable A:link
{
    TEXT-DECORATION: none
}
.treeTable A:visited
{
    TEXT-DECORATION: none
}
.treeTable A:hover
{
    TEXT-DECORATION: underline
}
.treeTitle
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.TreeNum
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}
.treeTopLevel
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 20px
}
.treeSubLevel
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 11px;
    LINE-HEIGHT: 14px
}
.treeUnSelected
{
    COLOR: #262f60
}
.treeSelected
{
    COLOR: #262f60;
    FONT-WEIGHT: bold
}
.treeLastSelected
{
    COLOR: #850000;
    FONT-WEIGHT: bold
}
.pagesNum
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal
}
.SkinButton
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 10px
}
.SkinButton A:link
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 10px
}
.SkinButton A:visited
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 10px
}
.SkinButton A:hover
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 10px
}
.pageTitle
{
    COLOR: #262f60;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 17px;
    FONT-WEIGHT: bold
}
.pageSubTitle
{
    COLOR: #021568;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 20px
}
.footer
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 10px
}
.SpacedText
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 14px;
    LINE-HEIGHT: 20px
}
.NormText
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 14px;
    LINE-HEIGHT: 16px
}
.SmallText
{
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 14px
}
.subTitle
{
    COLOR: #ff9c00;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}
.OrangeTitle
{
    COLOR: #ff9900;
    FONT-FAMILY: Arial;
    FONT-SIZE: 19px;
    FONT-WEIGHT: bold
}
.AccountSubTitle
{
    COLOR: #000c52;
    FONT-FAMILY: verdana,arial,helvetica;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 16px
}
.LowerMenuSelected A:hover, .LowerMenuSelected A:link, .LowerMenuSelected A:visited
{
    COLOR: #FFDD00;
    FONT-FAMILY: verdana,arial,helvetica;
    letter-spacing : 0.4ex;
    FONT-SIZE: 10px;
    TEXT-DECORATION: none;
}


/** my additions **/
h5 {

    font-size: 100%;

}
blockquote {
    margin: 1em;
    padding: 0.5em;
    border: 1px black solid;
}

pre {
    margin: 1em;
    padding: 0.5em;
    border: 1px black solid;
    font-size: 10px;
}

img {
    border: 0
}
